    .jumbotron {
    background-image: url('../assets/backgrounds/landing.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

body {
    height: 100%;
    width: 100%;
}

.logo {
    text-align: center;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.img-thumbnail {
    width: 525px;
    height: 400px;
    box-shadow: -1px 1px 5px 4px #E3E3E3;
